<div class="d-flex justify-content-end mt-3">Total: <%= events.size %></div>

<div class="d-flex justify-content-end mt-4">
  <span class="digg_pagination">
    <%= will_paginate events, container: false %>
  </span>
</div>
